* {
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #dedede;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

/* NAVBAR */
.navbar1{
    padding-left: 4vh;
    padding-top: 2vh;
    padding-bottom: -10px;
}
.navbar{
    background-color: #082C73;
    color: white;
}

.navbar-header img {
    height: 8vh;
    margin-top: 5px;
    margin-left: 5vh;
    padding-bottom: 8px;
    color: white;
}

.navbar .navbar-header {
    color: #fefefe;
    padding-left: 10px;
}

.navbar .navbar-nav li a {
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: 0.5s ease;
    border: none;
    font-size: 14px;
    float: right;
}

.navbar .navbar-nav li a:hover{
    color: #2764B8;
    transition: 0.5s ease;
}
#navbarNav .profil{
    margin: 0 20px;
    padding-right: 30px;
    float: right;
}

#navbarNav .profil .dropdown-menu{
    background: #F2F2F2;
    border-radius: 10px;
}

.dropdown-menu {
    justify-content: center;
}

#navbarNav .profil .icon-profil{
    width: 4vh;
}
#navbarNav .profil .name .bg {
    width: 29vh;
    margin-top: -1vh;
}
#navbarNav .profil .name .profil-img{
    width: 6vh;
    margin-top: -5vh;
}

#navbarNav .profil .name h3{
    color: #6666;
    font-size: 15pt;
}

#navbarNav .profil .name p{
    color: #6666;
}

#navbarNav .profil .dropdown-item{
    background-color: #F2F2F2;
    color: #3477D2;
}

#navbarNav .profil .dropdown-item:hover{
    background-color: #3477D2;
    color: #ffff;
}

#navbarNav .profil .log-out{
    color: #FF5A72;   
}
#navbarNav .profil .log-out:hover{
    background-color: #FF5A72;
    color: #ffff;
    margin-bottom: -10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#navbarNav .profil img{
    width: 8vh;
}

/* FOOTER */
.footer {
    display: grid;
    height: max-content;
    width: 100%;
    bottom: 0;
    background-color: #082C73;
    position: relative;
    padding: 10px;
    font-size: 12px;
    margin-top: 140px;
}
  
.footer .web {
    grid-column: 1;
    grid-row: 4;
    margin-left: 150px;
}

.footer .web ul li{
    list-style: none;
    padding: 5px;
}

.footer .web span{
    color: white;
    padding: 10px;
}

.footer .web i{
    color: white;
}
.footer .nama-footer {
    grid-column: 3;
    grid-row: 4;
    color: white;
    padding-right: 120px;
}

.footer .nama-footer .tfooter{
    font-size: 15px;
}

/* HOMEPAGE */
.container {
    background-color: white;
    padding: 30px 0 30px 0;
    margin-top: 100px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 100%;
    position: relative;
}

.content-slide {
    position: relative;
    color: white;
    z-index: 1;
}

.imgslide {
    display: block;
}

.img {
    background-color: #00216360;
    background-blend-mode: color;
    vertical-align: middle;
    width: 85%;
    height: auto;
    border-radius: 5px;
    z-index: 1;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    z-index: 1;
    left: 13%;
}

.next {
    z-index: 1;
    right: 13%;
}

.txt {
    position: absolute;
    text-align: left;
    width: 60%;
    margin: 20%;
    z-index: 1;
    bottom: -40%;
}

.txt1 {
    position: absolute;
    width: 60%;
    left: 19%;
    z-index: 1;
    top: 30%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }    
    to {
        opacity: 1;
    }
}

.container .page {
    margin-top: -50px;
}

.page .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 50%;
}

.page .active,
.page .dot:hover {
    background-color: #3477D2;
}

.content-announcements {
    margin-top: 80px;
    position: relative;
}

.first {
    cursor: pointer;
    background-image: linear-gradient(to bottom, #082C73, rgb(154, 162, 204));
    padding: 30px;
    text-align: left;
    margin-right: 83px;
    margin-left: 83px;
    border-radius: 10px;
    width: 45%;
    
}

.first .text {
    color: white;
    text-align: justify;
    font-size: 12px;
    position: relative;
    width: 250px;
    margin-top: -180px;
    margin-left: 200px;
}

.first .image {
    height: 180px;
    width: 180px;
    background-image: url(img_homepage/home_3.jpeg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.first .text p {
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    background-color: rgb(154, 162, 204, 0.6);
    margin-bottom: -1px;
}

.announcement {
    margin-top: -245px;
    position: relative;
    width: 37%;
    margin-left: 54%;
    text-align: justify;
    font-size: 12px;
}

.announcement a {
    font-size: 20px;
    font-weight: bold;
    color: #082C73;
    letter-spacing: 2px;
    margin-right: 8px;
    cursor: pointer;
    text-decoration: none;
}

.announ1 {
    cursor: pointer;
    background: url(img_homepage/annnoun_1.jpg) no-repeat;
    background-color: #00000060;
    background-blend-mode: color;
    background-size: cover;
    mix-blend-mode: multiply;
    background-position: 50%;
    height: 205px;
    width: 50%;
    border-radius: 5px;
    color: white;
    text-align: right;
    margin-top: 10px;
}

.announ1 .new {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    margin: -10px 0 0 -10px;
}

.announ1 a {
    color: white;
    padding-top: 15px;
    font-size: 15px;
    cursor: pointer;
}

.announ1 h5 {
    padding-top: 30px;
    padding-left: 10px;
    text-align: left;
    font-size: 18px;
}

.announ1 p {
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.712);
    color: black;
    text-align: justify;
    width: 90%;
    margin: 10px;
    margin-bottom: 10px;
}

.announ2 {
    background: url(img_homepage/announ_2.jpg) no-repeat;
    background-color: #00000060;
    background-blend-mode: color;
    background-size: cover;
    mix-blend-mode: multiply;
    background-position: 50%;
    height: 205px;
    width: 50%;
    border-radius: 5px;
    color: white;
    text-align: right;
    margin-top: -205px;
    margin-right: 83px;
    margin-left: 225px;
    cursor: pointer;
}

.announ2 a {
    color: white;
    padding-top: 15px;
    font-size: 15px;
    cursor: pointer;
}

.announ2 h5 {
    padding-top: 30px;
    padding-left: 10px;
    text-align: left;
    font-size: 18px;
}

.announ2 p {
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.712);
    color: black;
    text-align: justify;
    width: 90%;
    margin: 10px;
    margin-bottom: 10px;
}

/* KELOLA USER */
.editslide {
    position: absolute;
    z-index: 100;
    width: 90%;
    margin-top: 10px;
}

button.edit {
    float: right;
    background: #8abbff ;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 15px;
}

.edit2 {
    position: absolute;
    margin: 50px 25px;
}
/* responsive */

@media screen and (min-width: 751px) and (max-width: 1200px) {
    .txt1, .txt {
        font-size: 12px;
    }

    h1 {
        font-size: 30px;
    }
    
    .content-announcements {
        justify-content: center;
    }
    
    .first {
        width: 80%;
        margin-top: -25px;
        height: 200px;
    }
    
    .first .text {
        font-size: 12px;
        position: relative;
        width: 60%;
        margin-top: -157px;
        margin-left: 200px;
    }
    
    .first .image {
        height: 150px;
        width: 150px;
        margin-bottom: 10px;
    }

    .announcement {
        margin-top: 3%;
        width: 250px;
        margin-left: 20%;
        font-size: 8px;
    }
    
    .announcement a {
        font-size: 20px;
    }
    
    .announ1 {
        width: 80%;
        margin-top: 5px;
        height: 175px;
    }

    .announ1 .new {
        width: 40px;
        height: 40px;
        margin: -8px 0 0 -8px;
    }
    
    .announ2 {
        width: 80%;
        margin-top: -175px;
        height: 175px;
        margin-left: 250px;
    }

    h5 {
        margin-top: 10px;
        font-size: 14px;
    }

    .announ1 h5 {
        font-size: 14px;
    }

    .announ2 h5 {
        font-size: 14px;
    }
}

@media screen and (min-width: 100px) and (max-width: 750px) {
    #navbarNav .profil .icon-profil{
        width: 4vh;
    }

    .navbar-header img{
        height: 7vh;
    }

    #navbarNav .profil{
        margin: 0;
        padding-right: 0;
    }

    #navbarNav .profil .dropdown-menu {
        width: 70px;
        height: max-content;
    }

    #navbarNav .profil .name .bg {
        width: 25vh;
    }

    #navbarNav .profil .name .profil-img {
        width: 5vh;
    }

    #navbarNav .profil .name h3 {
        font-size: 12pt;
    }

    #navbarNav .profil .name p,
    #navbarNav .profil .dropdown-item {
        font-size: 13px;
    }

    .footer{
        display: inline-block;
    }

    .footer .nama-footer{
        margin-left: 157px;
    }
    
    .next {
        right: 70px;
        font-size: 30px;
    }
    
    .prev {
        left: 70px;
        font-size: 30px;
    }

    .txt {
        top: -10px;
        font-size: 8px;
    }
    
    .txt1 {
        font-size: 8px;
    }
    h1 {
        font-size: 18px;
    }

    .container .page {
        margin-top: -30px;
    }

    .page .dot {
        height: 8px;
        width: 8px;
    }

    .first {
        margin: 0px auto;
        width: 80%;
        padding: 10px 20px;
        justify-content: center;
        height: max-content;
        display: flex;
        flex-direction: column;
    }
    
    .first .text {
        font-size: 8px;
        width: 100%;
        margin: 0px;
    }
    
    .first .image {
        height: 110px;
        width: 100%;
    }

    .announcement {
        margin-top: 3%;
        width: 250px;
        margin-left: 43px;
        font-size: 8px;
    }
    
    .announcement a {
        font-size: 20px;
    }
    
    .announ1 {
        width: 80%;
        margin-top: 5px;
        height: 175px;
    }

    .announ1 .new {
        width: 40px;
        height: 40px;
        margin: -8px 0 0 -8px;
    }
    
    .announ2 {
        display: none;
    }

    h5 {
        margin-top: 10px;
        font-size: 14px;
    }

    .announ1 h5 {
        font-size: 14px;
    }

    .announ2 h5 {
        font-size: 14px;
    }
}

@media screen and (min-width: 1201px) {
    .navbar .navbar-nav li a{
        font-size: 16px;
        padding: 20px;
    }

    .navbar .navbar-nav li .active{
        border-bottom: 3px solid #dedede;
        width: 100%;
        margin-bottom: -30px; 
        border-radius: 0px; 
        color: white;
    }

    #navbarNav .profil .icon-profil{
        width: 6vh;
    }

    .navbar-header img{
        height: 8vh;
    }

    .footer .nama-footer {
        text-align: right;
        margin-right: 50px;
        margin-left: 0px;
    }
}