*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    min-height: 100%;
}

/* NAVBAR */
.navbar1{
    padding-left: 4vh;
    padding-top: 2vh;
    padding-bottom: -10px;
}
.navbar{
    background-color: #082C73;
    color: white;
}

.navbar-header img {
    height: 8vh;
    margin-top: 5px;
    margin-left: 5vh;
    padding-bottom: 8px;
    color: white;
}

.navbar .navbar-header {
    color: #fefefe;
    padding-left: 10px;
}

.navbar .navbar-nav li a {
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: 0.5s ease;
    border: none;
    font-size: 14px;
    float: right;
}

.navbar .navbar-nav li a:hover{
    color: #2764B8;
    transition: 0.5s ease;
}
#navbarNav .profil{
    margin: 0 20px;
    padding-right: 30px;
    float: right;
}

#navbarNav .profil .dropdown-menu{
    background: #F2F2F2;
    border-radius: 10px;
}

.dropdown-menu {
    justify-content: center;
}

#navbarNav .profil .icon-profil{
    width: 4vh;
}
#navbarNav .profil .name .bg {
    width: 29vh;
    margin-top: -1vh;
}
#navbarNav .profil .name .profil-img{
    width: 6vh;
    margin-top: -5vh;
}

#navbarNav .profil .name h3{
    color: #6666;
    font-size: 15pt;
}

#navbarNav .profil .name p{
    color: #6666;
}

#navbarNav .profil .dropdown-item{
    background-color: #F2F2F2;
    color: #3477D2;
}

#navbarNav .profil .dropdown-item:hover{
    background-color: #3477D2;
    color: #ffff;
}

#navbarNav .profil .log-out{
    color: #FF5A72;   
}
#navbarNav .profil .log-out:hover{
    background-color: #FF5A72;
    color: #ffff;
    margin-bottom: -10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#navbarNav .profil img{
    width: 8vh;
}

.main{
    position: relative;
    height: 100vh;
    background: linear-gradient(45deg, #082C73, #3477D2, transparent);
    
}

.main svg{
    position: absolute;
    width: 100%;
}

.navigation{
    height: 50px;
    padding: 30px 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.navigation .brand img{
    width: 150px;
}

.login-container{
    display: flex;
    height: 80vh;
    width: 60vw;
    color: #fff0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    padding: 70px 0 30px 0;
}


.photo{
    position: relative;
    height: 100%;
    width: 50%;
}
 
.photo img{
    position: relative;
    height: 100%;
    width: 100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.form-cont{
    background-color: #0F3B92;
    width: 50%;
    height: 100%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 2;
}

.inner-form{
    width: 60%;
    height: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px !important;
}


.social-login{
    position: relative;
    margin-top: 30px;
    text-align: center;
}

.social-login h1{
    color: #fff;
    font-size: 28pt;
    font-weight: 500;
    text-align: center;
}

.social-login p{
    color: #fff;
    font-size: 15px;
}

.inner-form .login-form{
    margin: 10px 0;
}

.login-form label{
    color: white;
    padding-top: 2vh;
    font-size: 15px;
}

.login-form input{
    position: relative;
	background:#FEFEFE;
	border: 1px solid #FEFEFE;
	width: 95%;
	font-size: 13px;
	padding: 10px;
	border-radius: 5px;
}

.login-form input:hover{
    border: 3px solid #FEFEFE;
}

.login-form #hide{
    color: #0F3B92;
    float: right;
    margin-top: -25px;
    padding-right: 40px;
    position: relative;
    z-index: 100;
}

.login-form .button {
    font-size: 15px;
    padding-top: 10px;
    margin: 2vh 0 2vh 0;
    width: 95%;
    background-color: #FF5A72;
    border-color: #FF5A72;
    border-radius: 20px;
    color: #FEFEFE;
}

.login-form .button:hover{
    background: #082C73;
    border-color: #082C73
}
.login-form a{
    padding-bottom: 2px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.login-form a:hover{
    color: #082C73;
}

/* SIDEBAR */
.sidebar {
    background-color: #3477D2;
    width: 90px;
    height: 100%;
    color: white;
    font-size: 12px;
    text-align: center;
    position: fixed;
    z-index: 100;
    top: 50px;
    
}

.sidebar .icon img{
    width: 25px;
}

.sidebar ul{
    margin-top: 40px;
    margin-left: -40px;
}


.sidebar ul li{
    list-style: none;
    margin: 20px 0px 35px 40px;
    transition: all 1s ease;
    -webkit-transition: 0.2s;
}

.sidebar ul li a{
    color: #443653;
    display: inline-block;
    font-size: 25px;
    width: 20px;
    top: 15vh;
    margin-left: -5px;
}

.sidebar ul li:hover,
li.active{
    background: #2764B8;
    width: 70%;
    height: 60px;
    border-radius: 10px;
}

.sidebar span{
    color: white;
}

/* BANTUAN */
.main-content-bantuan{
    margin: 20vh 25vh;
    position: relative;
    min-height: 100vh;

}

.main-content-bantuan .bantuan ul li{
    list-style: none;
    padding: 0 20px;
}

/* FOOTER */

.footer {
    display: grid;
    height: max-content;
    width: 100%;
    bottom: 0;
    background-color: #082C73;
    position: relative;
    padding: 10px;
    font-size: 12px;
}
  
.footer .web {
    grid-column: 1;
    grid-row: 4;
    margin-left: 150px;
}

.footer .web-detail-mapel {
    grid-column: 1;
    grid-row: 4;
    margin-left: 50px;
}

.footer .web-detail-mapel ul li,
.footer .web ul li{
    list-style: none;
    padding: 5px;
}


.footer .web-detail-mapel span,
.footer .web span{
    color: white;
    padding: 10px;
}

.footer .web-detail-mapel i,
.footer .web i{
    color: white;
}
.footer .nama-footer {
    grid-column: 3;
    grid-row: 4;
    color: white;
    margin-left: 150px;
}

.footer .nama-footer-mapel {
    grid-column: 3;
    grid-row: 4;
    color: white;
    margin-left: 50px;
}

.footer .nama-footer .tfooter,
.footer .nama-footer-mapel .tfooter{
    font-size: 15px;
}

/* PROGRESS */
.main-content-progres{
    margin: 10vh auto;
    min-height: 100vh;
    position: relative;
}

.progres {
    background-color: #EFEFEF;
    width: 100%;
    top: 0;
    padding-bottom: 5px;
    position: relative;
}

.progres .progres-title{
    font-size: 20px;
    color: #0F3B92;
    margin-left: 200px;
    padding-top: 30px;
    font-weight: 600;
    padding-bottom: 10px;
}
.progres-header img {
    padding-bottom: 10px; 
    margin-top: -10px;
    margin-right: -10px;
    height: 50px;
}

.progres-header ul li{
    margin-top: -40px;
    padding-right: 20px;
    list-style: none;
}

.progres-xp {
    float: right;
    display: flex;
}

.progres-xp h2{
    font-size: 20px;
    color: #0F3B92;
    font-weight: 600;
    margin-right: 100px;
}

.progres-content{
    position: relative;
    width:90%;
    top:10px;
    bottom:50px;
    margin: 10px;
    padding-left: 100px;
}

.progres-content .progres-item{
    background-color: #3477D2;
    z-index: 10;
    border-radius: 10px;
    border-color: #3477D2;
    margin-top: 5vh;
    margin-left: 80px;
}

.progres-content .progres-item ul li{
    list-style: none;
    color: #EFEFEF;
    z-index: 100;
    padding-top: 20px;
    margin-left: 80px;
}
.progres-content .progres-item ul li p{
    margin-right: 30px;
}
.progres-content .progres-item li.progres-name{
    font-weight: 600;
    padding-bottom: 20px;
}
.progres-content .progres-item li.progres-subitem{
    display: flex;
    padding: 0px;
}

.progres-detail .progres-item{
    width: 200px;
}

.progres-content .progres-item li.progres-subitem .tprogress{
    width: 300px;
}
.progres-bar1 progress, 
.progres-bar2 progress,
.progres-bar3 progress,
.progres-bar4 progress{
  position: relative;
  width: 400px;
  margin-right: 20px;
}

progress::before,
progress::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  border-radius: 10px;
}

.progres-bar1 progress::before {
  width: 100%;
  background: #fefefe;
}

.progres-bar1 progress::after {
  width: 75%;
  background: #082C73;
}

.progres-bar2 progress::before {
  width: 100%;
  background: #fefefe;
}

.progres-bar2 progress::after {
  width: 60%;
  background: #082C73;
}

.progres-bar3 progress::before {
  width: 100%;
  background: #fefefe;
}

.progres-bar3 progress::after {
  width: 50%;
  background: #082C73;
}

.progres-bar4 progress::before {
  width: 100%;
  background: #fefefe;
}

.progres-bar4 progress::after {
  width: 90%;
  background: #082C73;
}

#confirm-box-logout,
#confirm-box-unduh,
#confirm-box{
    width: 500px;
    overflow: hidden;
    background: #fefefe;
    box-shadow: 0 0 20px #dedede;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 20px;
    text-align: center;
    display: none;
}

#confirm-box-logout h1,
#confirm-box-unduh h1{
    color: #333;
    font-size: 15px;
    padding-bottom: 10px;
}

#confirm-box-logout a,
#confirm-box-unduh a{
    text-decoration: none;
}

#confirm-box-logout a:hover,
#confirm-box-unduh a:hover{
    color: black;
}

.yes, .no{
    color: white;
    padding: 3px 30px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
}

.yes{
    background: #58BAAB;
    margin-right: 20px;
}

.no{
    background: #FF5A72;
}

/* HELP & SUPPORT */
.inner-form-help{
    width: 80%;
    height: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
}
.help-header{
    color: white;
    margin-top: 6vh;
}

.help-header span a{
    text-decoration: none;
    color: white;
}
.help-header span i{
    padding: 7px 0px;
}

.help-header h1{
    font-size: 23px;
    padding: 0 0 15px 8px;
}

.help-item ul li{
    list-style: none;
    font-size: 12px;
    padding-bottom: 10px;
}

.help-item a{
    color: white;
    text-decoration: none;
}

.help-header span a:hover,
.help-item a:hover{
    color: #082C73;
}

/* MAPEL */
.main-content-mapel{
    width: 100%;
    min-height: 100vh;

}

.detail-mapel{
    width: 100%;
    height: 100px;
    width: 100%;
    height: 100px;
    margin: 100px 5px 0px 5px;
}

.detail-mapel .detail-header{
    color: #082C73;
    margin: 20px 20px;
}

.detail-mapel .detail-title{
    font-size: 25px;
    font-weight: 600;
}

.detail-mapel .btn-mapel{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background: #dddd;
    border: none;
    text-align: center;
    margin-right: 50px;
    font-weight: 400;
}

#drop-history {
    background: #dddd;
    width: 300px;
    text-align: center;
}

#drop-history :hover{
    background: #082C73;
    color: white;
}
.list-mapel{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 10px auto;
}

.list-mapel-item {
    width: 305px;
    background: #F2F2F2;
    border-radius: 10px;
    box-shadow: 0 0 10px #dedede;
    margin: 30px;
}

.class-mapel {
    background: #082C73;
    color: #dedede;
    width: 60px;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
    z-index: 200;
    margin-top: -55%;
    position: relative;
    float: right;
    margin-right: 5px;  
}

.class-mapel h1 {
    margin-top: -20px;
    font-size: 25px;
    font-weight: 600;
}
.class-mapel p{
    margin-top: 5px;
    font-size: 10px;
}
.logo-mapel {
    z-index: 20;
    position: relative;
}

.logo-mapel img {
    width: 305px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nama-mapel{
    background-color: #082C73;
    color: #EFEFEF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nama-mapel h3{
    font-size: 18px;
    text-align: center;
    padding: 15px;
}

.ket-mapel,
.jlh-siswa {
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
}

.ket-mapel i,
.jlh-siswa i {
    padding-right: 10px;
}

.deskripsi {
    padding: 0 10px 0 10px;
    text-align: justify;
    font-size: 13px;
    font-weight: 400;
    margin-top: -12px;
}

.btn-detail {
    margin-left: auto;
}

.btn-detail button {
    background: #082C73;
    color: white;
    border-radius: 15px;
    width: 90px;
    border: none;
    font-size: 12px;
    padding: 3px;
}


/* DETAIL MAPEL */
.detail{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.detail-sidebar {
    width: 350px;
    background: #0F3B92;
    position: relative;
}

.title-mapel,.persen{
    font-size: 15px;
}

.profil-detail {
    margin-top: 40%;
}

.profil-detail img {
    width: 100px;
    border: 2px white solid;
    border-radius: 50%;
}
.nama-detail {
    color: white;
    padding-top: 8px;
}

.progres-detail .progres-item ul li{
    list-style: none;
    color: white;
}
.progres-detail .progres-item {
    background: #3477D2;
    border-radius: 20px;
    width: 80%;
    height: 350px;
    margin-bottom: 100px;
}

.progres-detail .progres-name{
    font-size: 20px;
    font-weight: 500;
    margin: 10px auto;
    padding: 10px;
}
.progres-detail .tprogress{
    padding: 0px 25px;
}

.progres-detail .progres-bar1, 
.progres-detail .progres-bar2,
.progres-detail .progres-bar3,
.progres-detail .progres-bar4{
    margin-top: -10px;
}
.progres-detail .progres-bar1 progress, 
.progres-detail .progres-bar2 progress,
.progres-detail .progres-bar3 progress,
.progres-detail .progres-bar4 progress{
    width: 230px;
    height: 8px;
    margin-right: 0px;
}

.detail-fitur {
    background: white;
    width: 70%;
    margin-bottom: 50px;
}

.detail-fitur .title-kelas{
    margin-top: 20%;
}

.detail-fitur .title-kelas h1{
    text-align: center;
    color: #082C73;
    font-size: 25px;
    font-weight: 600;
}

.list-fitur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}

.list-fitur-item .item-img{
    padding: 20px;
    width: 120px;
    height: 100px;
    background: linear-gradient(45deg,#4986FF, #0056AA);
    margin: 20px auto;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.list-fitur-item .title-fitur{
    color: #3477D2;
    font-weight: 500;
}

.list-fitur-item a{
    text-decoration: none;
}

/* DOKUMEN */
.dokumen{
    display: flex;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.search-sidebar {
    width: 320px;
    background: #0F3B92;
    position: relative;
}

.search-sidebar .search-box{
    margin: 120px 20px 0px;
    padding: 5px 10px 5px 10px;
    background: #dedede;
    border-radius: 50px;
}

.search-box1 p,
.search-box p{
    margin-bottom: 0px;
    font-size: 12px;
    color: #a7a2a2;
    margin-left: 10px;
}

.search-box1 p,
.search-box i{
    color: #a7a2a2;
}

.doc-content .search-box1{
    display: none !important;
    padding: 0px 10px 5px 10px;
    background: #dedede;
    border-radius: 50px;
    width: 200px;
    height: 30px;

}

.doc-content .search-box1 i{
    color: #a7a2a2;
}

.doc-content .search-box1 p {
    color: #a7a2a2;
    margin-top: -18px;
    margin-left: 20px;
}

.doc-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100vh;
}

.doc-header{
    margin-top: 80px;
    padding: 50px 50px 70px;
    height: 100px;
    color: #0F3B92;
}

.doc-header h1{
    font-size: 20pt;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 20px;
}

.doc-header a{
    color: #0F3B92;
    text-decoration: none;
    cursor: pointer;
}

.doc-header .fa-arrow-left{
    font-size: 30px;
}

.doc-header a:hover{
    color: #a7a2a2;
}

.doc-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}

.doc-list-item .unduh{
    background: none;
    outline: none;
    border: none;

}
.item-docs{
    width: 150px;
    height: 150px;
    background: linear-gradient(45deg,#4986FF, #0056AA);
    place-content: center;
    margin: 30px auto;
    padding: 20px 10px;
    border-radius: 20px;
}

.title-docs{
    margin-top: 5px;
    color: #2764B8;
    font-weight: 600;
    font-size: 15pt;
}

/* PENCARIAN KELAS */
.pencarian{
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.filter-pencarian{
    width: 250px;
    background: #0F3B92;
}

.filter-pencarian h5{
    margin-top: 100px;
    padding: 0px 15px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.filter-pencarian .btn-mapel{
    width: 90%;
    margin: 10px;
    background: #0F3B92;
    border: 2px white solid;
    border-radius: 20px;
    color: white;
    padding-top: 5px;
    display: block;
}

.filter-pencarian .btn-mapel p{
    float: left;
    margin-left: 10px;
    color: white;
    margin-bottom: 2px;
    font-size: 13px;
}
.filter-pencarian .btn-mapel i.fa.fa-angle-down {
    float: right;
    margin-right: 10px;
}
.filter-pencarian .dropdown-menu{
    background: none;
    border: none;
    color: white;
    position: relative;
    display: none;
}

.filter-pencarian .dropdown-menu label{
    color: white;
    margin-left: 20px;
    padding: 0px;
    font-size: 13px;
}

.header-filter{
    margin-top: 150px;
    color: white;
    font-size: 20px;
}
.title-filter{
    margin-top: 20px;
    color: white;
    background: #082C73;
    border-radius: 50px;
    width: 100%;
    padding: 0px 20px;
    margin-left: -20px;
    margin-bottom: 5px;
}

.title-filter p{
    font-size: 15px;
    font-weight: 500;
    padding-top: 11px;
}

.title-filter span{
    margin-left: auto;
    padding-top: 10px;
}
.list-pencarian{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 100px auto;
}

.list-pencarian-item {
    width: 305px;
    background: #F2F2F2;
    border-radius: 10px;
    box-shadow: 0 0 10px #dedede;
    margin: 30px;

}

/* DETAIL PENCARIAN */
.detail-pencarian{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.detail-pencarian .header{
    width: 100%;
    height: 200px;
    background: #0F3B92;
}

.title-detail{
    color: white;
    margin-top: 120px;
    text-align: center;
}

.title-detail h2{  
    font-weight: 600;
    font-size: 30px;
}

.content-detail{
    margin-bottom: 100px !important;
}

.content-detail .sidebar{
    height: fit-content;
    width: 305px;
    background: #ffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #686666;
    margin-left: 100px;
    color: #082C73;
    position: relative;
}

.profil-guru {
    z-index: 200;
    position: relative;
}
.content-detail .profil-guru img{
    width: 90px;
    margin-top: -50px;
}

.content-detail .ket-mapel{
    width: 80%;
    margin: 0px auto;
    border-bottom: 2px #dedede solid;
}
.content-detail .ket-mapel .nama{
    font-weight: 600;
    margin-bottom: 0px !important;
}
.content-detail .ket-mapel .status{
    color: black;
    font-weight: 400;
    margin-bottom: 5px;
}

.content-detail .jadwal-mapel i{
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.content-detail .jadwal-mapel p{
    font-weight: 400;
}

.content-detail .btn-start button{
    border-radius: 20px;
    width: 50%;
    padding: 5px;
    margin-top: -5px;
}

.content-detail .jlh-siswa{
    margin-left: 85px;
    display: flex;
    text-align: center;
    color: #989898;
    font-size: 10px;
    margin-top: -10px;
}
.list-detail{
    width: 70%;
    min-height: 50vh;
    margin: 10px;
}

.tabs{
    width: 100%;
    height: fit-content;
    color: #082C73;
    cursor: pointer;
    margin: 50px auto;
    position: relative;
    padding: 10px;
}

.tabs-head{
    display: flex;
    align-items: stretch;
}

.tabs-toggle{
    display: flex;
    align-items: center;
    padding: 0px 30px;
    font-weight: 500;
    text-align: center;
}
span.tabs-toggle.active,
span.tabs-toggle:hover{
    background: #2764B8;
    border-radius: 20px;
    color: white;   
}

.tabs-content{
    background: #e1e1e1;
    display: none;
}

.tabs-body{
    min-height: 10vh;
    border-radius: 10px;
    margin: 20px auto;
}

.tabs-content.active{
    display: block;
}

.tabs-toggle{
    display: flex;
}

.tabs-title{
    text-align: center;
    padding: 10px;
    color: black;
    background: #c4c4c4;
    font-size: 25px;
}

.tabs-content .deskripsi{
    margin: 20px auto;
    color: black;
    text-align: justify;
    padding-bottom: 20px;
}
.tabs-content ul li{
    margin-top: 0px !important;
    margin-left: 30px;
    list-style: none;
}

/* ULANGAN */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 50px;
}

th{
    font-weight: 600;
}

  
td, th {
    border: 0px;
    text-align: left;
    padding: 15px;  
}

td{
    font-weight: 400;
}
td a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

td a:hover{
    text-decoration: none;
    color: #3477D2;
}

tr{
    background-color: #dedede;
}
  
.th1, .td1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.th2, .td2{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
tr:nth-child(even) {
    background-color: #ffff;
}

/* DETAIL ULANGAN */
.ujian-detail {
    background: #dedede;
    width: 80%;
    height: max-content;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #e5e5e5;
}

.ujian-detail .time table{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.ujian-detail .time table tr {
    background: #dedede;
}

.ujian-detail .title h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px;
    font-weight: 600;
}

.btn-start, .btn-back, .btn-finish{
    padding: 10px;   
    text-align: center;
    background: none;
}

.btn-start button, 
.btn-back button,
.btn-finish button{
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px;
    width: 100px;
    font-weight: 400;
    cursor: pointer;
}

.btn-start button:hover, 
.btn-back button:hover,
.btn-finish button:hover{
    background: #2764B8;
}
.btn-start button{
    background: #58BAAB;
}

.btn-back button{
    background: #FF5A72;
}

/* START ULANGAN */
.ujian-detail .click{
    display: flex;
    float: right;
}

.ujian-detail .btn-start i,
.ujian-detail .btn-finish i{
    font-size: 15px;
    padding-left: 10px;
}

.ujian-detail .btn-back i{
    font-size: 15px;
    padding-right: 10px;
}

.ujian-detail .btn-start button,
.ujian-detail .btn-back button,
.ujian-detail .btn-finish button{
    width: 150px;
    font-size: 12px;
    margin-left: auto;  
}

.btn-finish button{
    background: #f3a703;
}

/* FINISH UJIAN */
.finish-detail{
    background: #dedede;
    width: 60%;
    height: max-content;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #e5e5e5;
    text-align: center;
}

.finish-detail .title h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px;
    font-weight: 600;
}

.finish-detail img{
    width: 100px;
}

.finish-detail p{
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0 !important;
}

.finish-detail .btn-start button,
.finish-detail .btn-back button{
    font-size: 12px;
}

@media screen and (min-width: 100px) and (max-width: 800px){
    .sidebar ul{
        margin-top: 30px;
    }
    
    #navbarNav .profil .icon-profil{
        width: 4vh;
    }

    .navbar-header img{
        height: 7vh;
    }

    #navbarNav .profil{
        margin: 0;
        padding-right: 0;
    }

    .main-content-bantuan {
        margin-left: 15vh;
        margin-right: 10px;
    }

    .footer{
        display: inline-block;
    }

    .progres-bar1 progress, 
    .progres-bar2 progress,
    .progres-bar3 progress,
    .progres-bar4 progress{
        width: 100px;
        height: 10px;
        margin-right: 0px;
    }
    .progres-content{
        width:95%;
        top:10px;
        bottom:50px;
        margin-left: 15px;
        padding: 0 5px;
    }
    .progres-content .progres-item ul li{
        margin-left: 10px;
    }
    .progres-content .progres-item ul li p{
        font-size: 11px;
        margin-right: 10px;
    }

    .progres-content .progres-item li.progres-name{
        font-weight: 500;
        padding-bottom: 15px;
    }

    .progres-xp h2{
        padding-right: 5px;
        font-size: 12px;
        margin-right: 0px;
    } 
    
    .progres-header img {
        padding-bottom: 10px; 
        margin-top: -10px;
        margin-right: -10px;
        height: 40px;
    }
    .progres .progres-title{
        margin-left: 100px;
        font-size: 14px;
        margin-bottom: 12px;
    }
    
    .progres-header{
        margin-top: -5px;
        width: 100%;
    }
    .progres-content .progres-item li.progres-subitem .tprogress{
        width: 200px;
    }

    #navbarNav .profil .dropdown-menu {
        width: 70px;
        height: max-content;
    }

    #navbarNav .profil .name .bg {
        width: 25vh;
    }

    #navbarNav .profil .name .profil-img {
        width: 5vh;
    }

    #navbarNav .profil .name h3 {
        font-size: 12pt;
    }

    #navbarNav .profil .name p,
    #navbarNav .profil .dropdown-item {
        font-size: 13px;
    }

    .photo{
        display: none;
    }

    .form-cont{
        width: 100%;
        height: max-content;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
    }

    .social-login h1{
        font-size: 20px;
    }
    .social-login p,
    .login-form label,
    .login-form a{
        font-size: 13px;
    }

    .list-mapel{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        margin-top: 0px;
    }

    .list-mapel-item{
        margin: 30px auto;
    }

    .detail-mapel{
        height: auto;
    }
    .detail-mapel .detail-title{
        font-size: 15px;
    }
    
    .detail-mapel .btn-mapel{
        width: 150px;
        font-size: 10px;
        margin-right: 10px;
    }
    
    #drop-history {
        width: 150px;
        font-size: 10px;
    }
    
    .footer .nama-footer-mapel{
        margin-left: 150px;
    }

    .detail{
        flex-direction: column;
    }

    .detail-sidebar,
    .detail-fitur{
        width: 100%;
    }

    .profil-detail {
        margin-top: 30%;
    }

    .detail-fitur{
        margin-bottom: 50px;
    }
    .list-fitur {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .doc-list{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .item-docs{
        width: 150px;
        margin: 10px auto;

    }
    .search-sidebar{
        display: none;
    }

    .doc-content{
        width: 100%;
    }

    .doc-header{
        padding-top: 70px;
    }

    .pencarian{
        flex-direction: column;
    }

    .filter-pencarian{
        width: 100%;
    }

    .doc-content .search-box1{
        display: block !important;
    }

    .doc-content .search-box1 span,   
    .doc-content .search-box1 p {
        font-size: 10px;
    }

    .doc-header span{
        font-size: 12px;
    }
    
    .doc-header h1{
        font-size: 15pt;
    }

    .pencarian{
        flex-direction: column;
    }

    .filter-pencarian{
        width: 100%;
    }
    .list-pencarian{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-top: 0px;
    }

    .list-pencarian-item{
        margin: 30px auto;
    }

    .content-detail{
        flex-direction: column-reverse;
        margin-bottom: 50px;
        width: 100%;
    }

    .tabs{
        margin: 10px auto;
        margin-bottom: -50px !important;
    }
    .tabs-toggle{
        font-size: 10px;
        padding: 0 20px;
    }

    .title-detail h2{
        font-size: 20px;
    }

    .tabs-title{
        font-size: 15px;
    }

    .tabs-content .deskripsi{
        font-size: 11px;
    }

    .content-detail .sidebar{
        margin: 20px auto;
    }

    th,td{
        font-size: 12px;
    }

    .progres-detail .progres-item {
        width: 305px;
    }
    
    .ujian-detail .click{
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 750px) and (max-width: 990px){
    .login-container{
        height: 75vh;
        top: 50%;
        margin: 10px;
    }

    .photo{
        display: none;
    }

    .form-cont{
        width: 100%;
        max-height: 400px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
    }

    .social-login h1{
        font-size: 20px;
    }
    .social-login p,
    .login-form label,
    .login-form a{
        font-size: 13px;
    }
    
    .navbar .navbar-nav li a{
        font-size: 14px;
    }

    .main-content-bantuan {
        margin-right: 5vh;
        margin-left: 15vh;
    }
    .footer.web, .footer.nama-footer{
        grid-column: 2;
        grid-row: 4;
        position: static;
        text-align: center;
    }

    .progres{
        margin-top: -25px;
    }
    .progres-bar1 progress, 
    .progres-bar2 progress,
    .progres-bar3 progress,
    .progres-bar4 progress{
        position: relative;
        width: 200px;
        margin-right: 20px;
    }

    .progres-content .progres-item ul li{
        margin-left: 20px;
    }
    .progres-content .progres-item ul li p{
        font-size: 13px;
    }

    .progres .progres-title {
        padding-top: 40px;
    }
    .navbar-header img {
        height: 6vh;
    }

    .progres-detail .progres-item{
        width: 290px;
    }
    .progres-detail .progres-bar1 progress, 
    .progres-detail .progres-bar2 progress,
    .progres-detail .progres-bar3 progress,
    .progres-detail .progres-bar4 progress{
        width: 230px;
    }

    .title-mapel, 
    .persen{
        font-size: 12px;
    }
    
    .doc-list{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .doc-header{
        padding-top: 80px;
    }

    .doc-content{
        width: 100%;
    }
    .search-sidebar{
        display: none;
    }

    .doc-content .search-box1{
        display: block !important;
    }

    .pencarian{
        flex-direction: column;
    }

    .filter-pencarian{
        width: 100%;
    }
    .list-pencarian, .list-mapel{
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .content-detail{
        flex-direction: column-reverse;
        margin-bottom: 50px;
        width: 100%;
    }

    .tabs-toggle{
        font-size: 15px;
    }

    .content-detail .sidebar{
        margin: 10px auto;
    }

    .tabs{
        margin-bottom: -50px !important;
    }

}

@media screen and (min-width: 1300px) {
    .navbar .navbar-nav li a{
        font-size: 16px;
        padding: 20px;
    }

    .navbar .navbar-nav li .active{
        border-bottom: 3px solid #dedede;
        width: 100%;
        margin-bottom: -30px; 
        border-radius: 0px; 
        color: white;
    }

    #navbarNav .profil .icon-profil{
        width: 6vh;
    }

    .navbar-header img{
        height: 8vh;
    }

    .footer .nama-footer {
        text-align: right;
        margin-right: 50px;
        margin-left: 0px;
    }

    .detail-fitur .title-kelas{
        margin-top: 15%;
    }

    .doc-content .search-box1{
        display: none;
    }
    .detail-mapel .detail-header h2{
        margin-left: 50px;
    }
    
}


